<footer class="flex max-w-6xl border-t -mt-20 py-4 m m-auto w-full justify-between px-10   ">
    <a href="/" class="text-md tracking-wide text-slate-400"> Contact </a>
    <p class="text-md text-slate-400"> This is a free template by made by rocketship-run</p>
    <a href="/" class="text-md tracking-wide text-slate-400"> &copy; 2023 Rocketship </a>
</footer>