<nav class="flex max-w-6xl  py-4 m-auto w-full justify-between px-10   ">
<a href="/" class="text-lg font-bold tracking-wide text-slate-600"> Earth </a>
<a href="/" class="text-lg font-bold tracking-wide text-slate-600"> About </a>
</nav>